doctype
html(ng-app='titlePoc' ng-controller='TitleController')
    head
        base(href='/')
        title {{titleService.getTitle()}}

    body
        ul
            li
                a(href='/') Index
            li
                a(href='/home') Home
            li
                a(href='/away') Away
        div(ng-view)
        script(src='/libs/angular/angular.min.js')
        script(src='/libs/angular-route/angular-route.min.js')
        script(src='/js/title-poc-app.js')
        script(src='/js/title-service.js')
        script(src='/js/title-poc-controller.js')
